<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Db</title>
    <link rel="stylesheet" href="stylesheets/app.css" type="text/css">
    <script src="bower_components/modernizr/modernizr.js" type="text/javascript"></script>
</head>
    
<body>
    <div class="row">
        
      <div class="large-6 columns "  id="allMovies">
        <h1>Add A New Movie:</h1>
        <form  action="#">
            <div id="addMovie">
                <label for="name">Movie Name: </label>
                <input id="name" type="text" />
                <label for="releaseYear">Release Year: </label>
                <input id="releaseYear" type="text" />
                <label for="grossIncome">Gross Income: </label>
                <input id="grossIncome" type="text" />
                <label for="directorName">Director Name: </label>
                <input id="directorName" type="text" />
                <label for="genre">Genre: </label>
                <input id="genre" type="text" />            
                <button id="addNewMovie">Add New Movie</button>
            </div>
          </form>
          <h1>List of All Movies</h1>
        </div>

        <div class="large-6 columns" id="allActors">
            <h1>Add A New Actor: </h1>
            <form  action="#">
                <div id="addActor">
                    <label for="firstName">First Name: </label>
                    <input id="firstName" type="text" />
                    <label for="lastName">Last Name: </label>
                    <input id="lastName" type="text" />
                    <label for="birthDate">Birth Date: </label>
                    <input id="birthDate" type="date" />
                    <label for="gender">Gender:</label>
                    <select id="gender" type="select">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>          
                    <button id="addNewActor">Add New Actor</button>
                </div>
            </form>
            <h1>List of All Actors</h1>
        </div>

    </div>

  
<!--  Templates  -->
    
    <script id="movieElement" type="text/template">
      <div class="movie-info">
        <h2><%= name %></h2>
        <ul>
            <li><strong> Release Year:</strong>  <%=releaseYear%></li>
            <li><strong> Gross Income:</strong> $<%=grossIncome%></li>
            <li><strong> Director:</strong> <%= directorName%></li>
            <li><strong> Genre:</strong> <%=genre%></li>
        </ul>
      
        <button class="delete">Delete</button>
        <button class="edit">Edit</button>
     </div>
     <fieldset class="edit-movie">
        <legend>Edit <%= name%> </legend>
            <label for="name">Movie Name: </label>
            <input id="name" type="text" value="<%= name %>" />
            <label for="releaseYear">Release Year: </label>
            <input id="releaseYear" type="text" value="<%=releaseYear%>" />
            <label for="grossIncome">Gross Income: </label>
            <input id="grossIncome" type="text" value="<%=grossIncome%>"  />
            <label for="directorName">Director Name: </label>
            <input id="directorName" type="text" value="<%=directorName%> " />
            <label for="genre">Genre: </label>
            <input id="genre" type="text" value="<%=genre%>"  />            
            <button class="save-movie">Save Movie</button>
      </fieldset>
    </script>
    
    <script id="actorTemplate" type="text/template">
      <div class="actor-info">
        <h2><%= firstName %> <%= lastName %> </h2>
        <ul>
            <li><strong> Birth Date:</strong>  <%=birthDate%></li>
            <li><strong> Gender:</strong> <%=gender%></li>
            <li><strong> Movies:</strong> [List of Movies here]</li>
        </ul>

        <button class="delete-actor">Delete</button>
        <button class="edit-actor-info">Edit</button>
        </div>
     <fieldset class="edit-actor">
        <legend>Edit <%= firstName%> <%= lastName%>  </legend>
            <label for="firstName">First Name: </label>
            <input id="firstName" type="text" value="<%=firstName%>" />
            <label for="lastName">Last Name: </label>
            <input id="lastName" type="text" value="<%=lastName%>" />
            <label for="birthDate">Birth Date: </label>
            <input id="birthDate" type="date"  value="<%=birthDate%>" />
            <label for="gender">Gender:</label>
            <select id="gender" type="select">
                <option <% if (gender == "male" ){ %> selected <% } %> value="male">Male</option>
                <option <% if (gender == "female" ){ %> selected <% } %> value="female">Female</option>
            </select>              
            <button class="save-actor">Save Actor</button>
        </fieldset>
    </script>
    

<!-- Scripts  -->
    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="bower_components/underscore/underscore.js" type="text/javascript"></script>
    <script src="bower_components/backbone/backbone.js" type="text/javascript"></script> 
    <script src="bower_components/backbone.localstorage/backbone.localStorage.js" type="text/javascript"></script> 
    <script src="bower_components/foundation/js/foundation.min.js" type="text/javascript"></script>
    <script src="js/utils/utils.js"></script>
    <script src="js/models/singleMovieModel.js"></script>
    <script src="js/models/singleActorModel.js"></script>
    <script src="js/collections/allMovies.js"></script>
    <script src="js/collections/allActors.js"></script>
    <script src="js/views/singleMovieView.js" type="text/javascript"></script>
    <script src="js/views/allMoviesView.js"></script>    
    <script src="js/views/singleActorView.js" type="text/javascript"></script>
    <script src="js/views/allActorsView.js" type="text/javascript"></script>
    <script src="js/routes/router.js"></script> 
    <script src="js/app.js" type="text/javascript"></script>
</body>
</html>
